@font-face {
  font-family: AppBold;
  src: url("./assets/fonts/Gordita Bold.otf");
  font-display: swap;
}

@font-face {
  font-family: AppBlack;
  src: url("./assets/fonts/Gordita Black.otf");
  font-display: swap;
}

@font-face {
  font-family: AppLight;
  src: url("./assets/fonts/Gordita Light.otf");
  font-display: swap;
}

@font-face {
  font-family: AppRegular;
  src: url("./assets/fonts/Gordita Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: AppMedium;
  src: url("./assets/fonts/Gordita Medium.otf");
  font-display: swap;
}

@font-face {
  font-family: AppThin;
  src: url("./assets/fonts/Gordita Thin.otf");
  font-display: swap;
}

@font-face {
  font-family: AppUltra;
  src: url("./assets/fonts/Gordita Ultra.otf");
  font-display: swap;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
